p {
  font-family: 'Helvetica Neue' !important;
}

h1 {
  text-align: center;
  color: #fff;
  font-family: 'Helvetica Neue' !important;
  font-stretch: expanded;
  padding-top: 45px;
  padding-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow: -1px 0 #555, 0 2px #555, 2px 0 #555, 0 -1px #555;
}

.block {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link a {
  text-decoration: none !important;
  font-family: 'Helvetica Neue';
  color: #008CBA;
}

.profile {
  font-family: 'Helvetica Neue';
  border-collapse: collapse;
  width: 100%;

  td, th {
    border: 1px solid #ddd;
    padding: 8px;
    a {
      text-decoration: none;
      color: #555;
    }
  }

  tr:nth-child(even){background-color: #f2f2f2;}

  tr:hover {
    background-color: rgb(176, 176, 176);
    color: white;
    td, th {
      a {
        color: white;
      }
    }
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #008CBA;
    color: white;
  }

}

.return-link {
  text-decoration: none !important;
  font-family: 'Helvetica Neue';
  color: #008CBA;
}

.flash {
  text-align: center;
  font-family: 'Helvetica Neue';
  font-weight: bolder;
  .notice {
    color: green;
  }
  .alert {
    color: red;
  }
}


.errors-title {
  font-family: 'Helvetica Neue' !important;
  font-stretch: expanded;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

ul.list {
  font-family: 'Helvetica Neue' !important;
  list-style-type: circle;
}

.button {
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.inline-block {
  display: inline-block;
}

.right {
  position: absolute;
  right: 0px;
}